*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h3 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

p {
    font-size: 30px;
}

.contenedor {
    padding: 80px;
    max-width: 1000px;
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.current {
    border-bottom: 2px solid #20bf6b;
}

.boxLogo {
    display: flex;
    justify-content: center;
}



/* ESTILOS HEADER */

header {
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: rgb(254,215,169);
}

.boxHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 635px;
    color: #000;
    overflow: hidden;
}

.boxHeader .textosHeader {
    width: 42%;
    position: relative;
    left: 15%;
    transform: translateY(0);
    opacity: 1;
    animation: animacion2 1s ease-out;
}

.boxHeader .textosHeader h1 {
    font-size: 50px;
    width: 55%;
}

.boxHeader .textosHeader p {
    width: 65%;
    color: #9c9c9c;
    font-size: 14px;
}

a.botonGetStarted {
    display: inline-block;
    width: 135px;
    text-align: center;
    margin-top: 20px;
    color: #fff;
    padding: 8px 20px;
    background-color: #20bf6b;
    border-radius: 35px;
    border: 2px solid #20bf6b;
    box-shadow: 0px 5px 18px rgba(0, 0, 0, .2);
    transition: all 0.3s ease 0s;
}

a.botonGetStarted:hover {
    color: #20bf6b !important;
    background-color: transparent;
    border-radius: 6px;
    transition: all 0.3s ease 0s;
    box-shadow: 0px 15px 18px rgba(32, 191, 107, 0.4);
    transform: translateY(-6px);
}

.boxHeader .imgHeader {
    right: -19%;
    position: relative;
}

.imgHeader img {
    width: 80%;
    transform: translateX(0);
    opacity: 1;
    animation: animacion1 1s ease-out;
}

@keyframes animacion1 {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes animacion2 {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
}


/* ESTILOS NAVBAR */

.navbar {
    box-shadow: 0 2px 2px -2px #5e5c5c;
}

.navbar-brand {
    display: none;
}

.navbar-brand small {
    color: #20bf6b;
}

.nav-link:hover {
    border-bottom: 2px solid #20bf6b;
}

.navbar-toggler {
    border: none;
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 1);
}

.bg-light {
    background-color: #ffffff!important;
}


/* ESTILOS NOSOTROS */

.boxFeatures {
    padding: 150px;
    background-color: #ffcccc;
    height: 100vh;
}

.features {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 1000px;
    width: 90%;
    height: 400px;
    margin: auto;
    overflow: hidden;
    margin-top: 150px;
}

.cardFeatures {
    background: #fdfdfd;
    width: 30%;
    border-radius: 3px;
    padding: 1.25rem;
    transition: 0.4s;
    margin-bottom: 10px;
}

.cardFeatures span {
    box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.2);
}

.cardFeatures a {
    color: #02d2b5;
}

.cardFeatures:hover {
    cursor: pointer;
    transform: scale(0.9, 0.9);
}

.cardFeatures span {
    background: #00d2b5;
    color: #fff;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin-bottom: 1rem;
}

.cardFeatures h4 {
    font-size: 14px;
    font-weight: bold;
}

.cardFeatures p {
    font-size: 12px;
    color: #9c9c9c;
}





/* ESTILOS PASOS DE PUBLICACION */

.boxAbout {
    padding: 150px;
    background-color: #fed7a9;
    height: 100vh;
}

.about {
    padding: 20px 10px;
    width: 80%;
    margin: auto;
    }

.imgAbout {
    width: 70%;
}

.imgAbout img {
    width: 150%;
    vertical-align: top;
}

.contenidoAbout h3 {
    font-size: 30px;
    text-align: left;
    margin-bottom: 20px;
}


/* ESTILOS DONACIONES */

.boxDonaciones {
    padding: 150px;
    height: 100vh;
    background-color:#ffcccc ;
}




/* ESTILOS CONTACTO */

.boxContacto {
    padding: 150px;
    background-color: #fed7a9;
    height: 100vh;
}




/*  ESTILOS FOOTER*/

.navbar {
    background: #000000
}

.nav-item::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background: #ffcccc;
    transition: 0.4s
}

.nav-item:hover::after {
    width: 100%
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #ffcccc
}

.nav-link {
    padding: 25px 5px;
    transition: 0.2s
}

body {
    background-color: white;
}

#formulario {
    text-align: rigth;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 50px;
    border: 1px solid black;
    border-radius: 0.5%;
    max-width: 60%;
    max-block-size: 1000px;
    background-color: #eee;
    ;
}


#boton {
    position: relative;
    display: block;
    border-radius: 6px;
    text-align: center;
    font-size: 16px;
    width: 100px;
    height: 40px;
    color: white;
    cursor: pointer;
    letter-spacing: 2px;
    text-decoration: none;
    transition: all ease 0.5s;
    background: black;
    border: none;
    margin-top: 15px;
    margin-bottom: 15px;
}


#boton:after,
#boton:before {
    width: 150px;
    height: 50px;
    content: rgb(14, 12, 12);
    display: block;
    cursor: pointer;
}

#boton:hover {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    background: #5692a6;

    width: 150px;
}

#boton:hover:after,
#boton:hover:before {
    transform: rotate(45deg), scaleX(130%);
    transition: all ease 0.5s;
    width: 150px;
}



a.botonPubli{
    position: relative;
    display: inline-block;
    border-radius: 6px;
    text-align: center;
    font-size: 14px;
    width: 88px;
    height: 40px;
    color: white;
    cursor: pointer;
    letter-spacing: 1px;
    text-decoration: none;
    transition: all ease 0.5s;
    background: #5692a6;
    border: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 6px;
}


button.botonFiltro{
    position: relative;
    display: inline-block;
    border-radius: 6px;
    text-align: center;
    font-size: 14px;
    font-weight: 900;
    width: 150px;
    height: 40px;
    color: black;
    cursor: pointer;
    letter-spacing: 1px;
    text-decoration: none;
    transition: all ease 0.5s;
    background: #fed7a9;
    border: none;
    margin-top: 0px;
    margin-bottom: 15px;
    padding-top: 6px;
    padding-bottom: 6px; 
}


ul.navega li {
    display: inline;
    padding-right: 0.30em;
    margin-top: 25px;
}


div#cabecera {
    background-color: #fed7a9;
    height: 200px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 0px ;
    margin-bottom: 10px
}

h1#textCabecera {
    font-family: fantasy;
    font-size: 40px;
    color: black;
}


#textCabecera {
    font-family: fantasy;
    font-size: 50px;
    color: black;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}


#titleFooter {
    font-size: 22PX;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 4px;
    font-weight: 300;
    margin-bottom: 0PX;
    margin-top: 5PX
}

#footer {
    background-color: #fed7a9;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: auto;
    height: 100%;
    margin-top: 60px;
    margin-bottom: 0px;
    font: bold 17px sans-serif;
    font-size: 17px;
    padding-bottom: 50px;
    color: black;
    display: flexbox
}


@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: Open Sans;
}

section {
  width: 100%;
  display: inline-block;
  background: #fed7a9;
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed{
	background: #fed7a9;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  black;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5692a6;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  black;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  black;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color:black;
	font-size: 28px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 16px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: black;
    font-weight:50;
    font-size: 16px;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:16px;
	line-height:2;
    
}

.footer-distributed .footer-center p a{
	color:  #5692a6;
	text-decoration: none;
}

.footer-distributed .footer-links a:before {
    content: "|";
    font-weight:300;
    font-size: 10px;
    left: 0;
    color: black;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #000000;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
    padding-bottom: 4px
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  black;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 5px;
}



@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

#mascotaFoto{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-top: PX;
    background-color: #dddd
}


