/* <<<<<<< HEAD:css/styles.css */
*,
 ::after,
 ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h3 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

p {
    font-size: 14px;
}

.p-10px {
    padding: 10px;
}

.contenedor {
    padding: 80px;
    max-width: 1000px;
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.current {
    border-bottom: 2px solid #20bf6b;
}

.boxLogo {
    display: flex;
    justify-content: center;
}

.boxLogo h1>small {
    color: #20bf6b;
}

#subir {
    display: none;
    opacity: 0;
    transition: all 0.3s ease 0s;
}

.irArriba {
    display: block!important;
    padding: 15px;
    background: #20be6b;
    border: 2px solid #20bf6b;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    bottom: 50px;
    right: 2%;
    z-index: 999;
    transition: all 0.3s ease 0s!important;
    transform: translateX(0);
    animation: animacionScrollTo 0.7s ease-out;
    opacity: 1!important;
}

.irArriba:hover {
    background: transparent;
    border: 2px solid #20bf6b;
    transition: all 0.3s ease 0s;
    color: #20bf6b;
    padding: 15px;
}

@keyframes animacionScrollTo {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
}


/* ESTILOS HEADER */

header {
    height: 700px;
    width: 100%;
    position: relative;
    background-color: #fcfcfc;
    padding-top: 55px;
    background-image: url('/prueba/images/kitten-puppy-.jpg');
    background-repeat: no-repeat;
    background-size:  100%;
}

.boxHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 635px;
    color: #000;
    overflow: hidden;
}

.boxHeader .textosHeader {
    width: 42%;
    position: absolute;
    margin: auto;   
    display: grid;
    bottom: 20%;
    transform: translateY(0);
    opacity: 1;
    animation: animacion2 1s ease-out;
}




a.botonGetStarted {
    display: inline-block;
    width: 50%;
    text-align: center;
    margin: 5vh 0vh 5vh 16vh;
    color: #fff;
    padding: 10px 20px;
    background-color: #5692a6;
    border-radius: 35px;
    border: 5px solid #a9fed7;
    box-shadow: 0px 5px 18px rgba(0, 0, 0, .2);
    transition: all 0.3s ease 0s;
}

a.botonGetStarted:hover {
    color: #000000!important;
    font-weight: bold;
    background-color: transparent;
    border-radius:  35px;
    transition: all 0.3s ease 0s;
    box-shadow: 0px 5px 18px  #a9fed7;
    transform: translateY(-6px);
}

.boxHeader .imgHeader {
    right: -5%;
    position: relative;
    
}
.boxLogo {
    width: 60%;
    margin-top: 5vh;
    display: flexbox;
    margin-left: auto;
    margin-right: auto;
}


/* .logoMascoticas {
    width: 2%;
    position: relative;
    left: 10%;
    bottom: 10%; 
    transform: translateY(0);
    opacity: 1;
    animation: animacion2 1s ease-out;
} */

@keyframes animacion1 {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes animacion2 {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
}


/* ESTILOS NAVBAR */

.navbar {
    box-shadow: 0 2px 2px -2px #dcdcdc;
}

.navbar-brand {
    display: none;
}

.navbar-brand small {
    color: #20bf6b;
}

.nav-link:hover {
    border-bottom: 2px solid #20bf6b;
}

.navbar-toggler {
    border: none;
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 1);
}

.bg-light {
    background-color: #ffffff!important;
}


/* ESTILOS NOSOTROS */

.boxNosotros {
    background-color: #fed7a9;
    height: 100vh;
    padding: 90px 0px 0px 0px;
    
}
.boxNosotros h3 {
    text-align: center;
    font-size: 50px;
}
.boxNosotros p {
    text-align: center;
    color: #000000;
    font-size: 16px;
    margin-bottom: 3vh;
}

.nosotros {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width:100%;
    height: 1000px;
    overflow: hidden;
    margin-top: 60px;
}

.cardNosotros {
    width:40vh;
    /* height: 40vh; */
    border-radius: 6px;
    padding:10px;
    transition: 0.4s;
    margin-bottom: 0px;
    
}

.cardNosotros a {
    
    display: grid;
    width: 50%;
    position: relative; 
    text-align: center;
    margin: 1vh 0vh 0vh 8.5vh;
    color: #fff;
    padding: 10px 20px;
    background-color: #5692a6;
    border-radius: 35px;
    border: 2px solid #a9fed7;
    box-shadow: 0px 5px 18px rgba(0, 0, 0, .2);
    transition: all 0.3s ease 0s;
}
/* .irBoton {
    display: inline-block;
    width: 50%;
    text-align: center;
    margin: 5vh 0vh 5vh 7.5vh;
    color: #fff;
    padding: 10px 20px;
    background-color: #5692a6;
    border-radius: 35px;
    border: 5px solid #a9fed7;
    box-shadow: 0px 5px 18px rgba(0, 0, 0, .2);
    transition: all 0.3s ease 0s;
} */

.cardNosotros a:hover, .cardNosotros a:active { 
    background-color: #a9fed7;
}



.cardNosotros img {
    width: 15vh;
    margin:1px 0px 0px 110px;    
}



.cardNosotros:hover {
    cursor: pointer;
    transform: scale(0.9, 0.9);
}

.cardNosotros h4 {
    padding: 30px 0px 5px 0px;   
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.cardNosotros p {
    font-size: 14px;
    color: #000000;
    text-align: center;
    margin:20px 30px 10px 10px; 
}

/* ESTILOS PUBLICACION  */

.boxPublicacion {
    padding-top: 50px;
    background-color: #ffcccc;
    overflow: hidden;
    position: relative;
    height: 100vh;
}

.boxPublicacion h3 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.publicacion {
    padding: 80px 0;
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
}

.imgPublicacion {
    width: 50%;
}

.imgPublicacion img {
    width: 100%;
    vertical-align: top;
}

.publicacion .contenido ul li {
    list-style: none;
    margin-bottom: 12px;
    color: #9c9c9c;
    font-size: 14px;
}

.contenido {
    width: 50%;
    padding-left: 30px;
}

.contenido a {
    display: inline-block;
    width: 50%;
    text-align: center;
    margin: 14% 0% 5% 26%;
    color: #fff;
    padding: 10px 20px;
    background-color: #5692a6;
    border-radius: 35px;
    border: 2px solid #a9fed7;
    box-shadow: 0px 5px 18px rgba(0, 0, 0, .2);
    transition: all 0.3s ease 0s;
}
.contenido a:hover { 
    color: #000000 !important;
    font-weight: bold;
    background-color: transparent;
    border-radius: 6px;
    transition: all 0.3s ease 0s;
    box-shadow: 0px 15px 18px #a9fed7;
    transform: translateY(-6px);
}


/* ESTILOS DONACIONES */

.boxDonaciones {
    padding: 50px;
    background-color: #fed7a9;
    height: 100vh;
    /* background-image: url('/prueba/images/paws2.png');
    background-repeat: no-repeat;
    background-size:  200vh; */
    
}

.donaciones {
    padding: 80px 0;
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
}

.imgDonaciones {
    width: 45%;
    -webkit-box-shadow: 1px 9px 15px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 9px 15px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 9px 15px -8px rgba(0, 0, 0, 0.75);
}

.imgDonaciones img {
    border: #00d2b5 solid 8px;
    border-radius: 8px;
    width: 100%;
    vertical-align: top;
}

.contenidoDonaciones {
    width: 55%;
    padding-left: 12%;
    font-size: 20px;
}

.contenidoDonaciones p {
    font-weight: bold;
    margin-bottom: 10px;
    width: 100%;
    color: #000000;
    /* font-size: 20px; */
}
.contenidoDonaciones ul {
    margin-top: 20px;
}

.contenidoDonaciones img {
    width: 3px;
    
}

/* ESTILOS FOOTER*/

#titleFooter {
    font-size: 22PX;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 4px;
    font-weight: 300;
    margin-bottom: 0PX;
    margin-top: 5PX
} 

#footer {
    background-color: #fed7a9;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: auto;
    height: 50vh;
    margin-bottom: 0px;
    font: bold 17px sans-serif;
    font-size: 17px;
    padding-bottom: 50px;
    color: black;
    display: flexbox;
}


@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

/* * {
    font-family: Open Sans;
} */

/* section {
    width: 100%;
    display: inline-block;
    background: #ee850e;
    height: 50vh;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    text-decoration: underline;
} */

.footer-distributed{
	background: #fed7a9;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.imgLogo {
    width: 100%;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  black;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
    font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  black;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color:black;
	font-size: 28px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 16px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: black;
    font-weight:50;
    font-size: 16px;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:16px;
	line-height:2;
    
}

.footer-distributed .footer-center p a{
	color:  #5692a6;
	text-decoration: none;
}

.footer-distributed .footer-links a:before {
    content: "|";
    font-weight:300;
    font-size: 10px;
    left: 0;
    color: black;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #000000;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
    padding-bottom: 4px
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  black;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 5px;
}



@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

/* MEDIA QUERIES */

@media screen and (max-width:800px) {
    .boxLogo {
        display: none;
    }
    /* ESTILOS NAVBAR */
    .navbar-brand {
        display: block;
    }
    .nav-link:hover {
        border-bottom: none;
    }
    .nav-item {
        text-align: center;
    }
    .current {
        border-bottom: 2px solid #f5f5f5;
    }
    /* ESTILOS HEADER */
    header {
        height: auto;
    }
    .boxHeader {
        flex-wrap: wrap;
        height: 900px;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .boxHeader .textosHeader {
        width: 90%;
        margin-bottom: 100px;
        text-align: left;
        left: 0;
        margin: 0 auto;
    }
    .boxHeader h1 {
        font-size: 40px;
    }
    .boxHeader .textosHeader h1 {
        width: 100%;
    }
    .boxHeader .textosHeader p {
        width: 100%;
        margin: 0 auto;
        text-align: left;
    }
    .boxHeader .imgHeader {
        width: 100%;
        top: -40px;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .imgHeader img {
        width: 95%;
    }
    /* ESTILOS NOSOTROS */
    .boxNosotros {
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .nosotros {
        width: 90%;
    }
    .cardNosotros {
        width: 100%;
        margin-bottom: 1rem;
    }
    /* ESTILOS PUBLICACION */
    .boxPublicacion {
        height: 100%;
    }
    .imgPublicacion {
        width: 100%;
    }
    .contenido {
        width: 80%;
        padding-left: 0px;
    }
    .contenido h3 {
        text-align: center;
    }
    .contenido p {
        width: 100%;
        text-align: center;
    }
    .contenido ul {
        text-align: center;
    }
    
    /* ESTILOS DONACIONES */
    .boxDonaciones {
        height: 100%;
    }
    .donaciones {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .imgDonaciones {
        width: 100%;
    }
    .contenidoDonaciones {
        width: 100%;
        padding-left: 0;
        text-align: center;
        margin-top: 40px;
    }
    .contenidoDonaciones h3 {
        text-align: center;
        margin-bottom: 20px;
    }
    .contenidoDonaciones p {
        width: 100%;
        text-align: center;
    }
    /* ESTILOS FOOTER */
    .boxContacto {
        height: 100%;
    }
}

@media screen and (max-width:400px) {
    .boxLogo {
        display: none;
    }
    .current {
        border-bottom: 2px solid #f5f5f5;
    }
    h3 {
        font-size: 25px;
    }
    /* ESTILOS NAVBAR */
    .navbar-brand {
        display: block;
    }
    .nav-link:hover {
        border-bottom: none;
    }
    .nav-item {
        text-align: center;
    }
    /* ESTILOS HEADER */
    .boxHeader {
        height: 700px;
    }
    .boxHeader .textosHeader {
        width: 90%;
    }
    .boxHeader h1 {
        font-size: 25px;
    }
    .boxHeader h2 {
        font-size: 20px;
        font-weight: 300;
    }
    /* ESTILOS NOSOTROS */
    .nosotros {
        width: 100%;
    }
    /* ESTILOS PUBLICACION */
    .boxPublicacion {
        height: 100%;
    }
    
    /* ESTILOS DONACIONES */
    .donaciones {
        width: 100%;
    }
    
    /* ESTILOS FOOTER */
    footer {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}
