section#sectionVerPubli{
    background: #fed7a9;
    font-weight: 10px;
    font-size: 22px;
    font-weight: 550;
    text-align: center;
    background-color: #5692a6;
    margin-top: 0;
    width: 100%;
    height: 100%;
}

#verPubliDiv1{
    margin-top: px;
    margin-bottom: 0px;
    width: 100%;
    height: 100%;
}


#verPublicards{
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 100px;
    width: 100%;
    height: 100%;
}

#verPubliFilter{
    margin-top: 80  px;
    margin-bottom: 10px;
}

#filterTitle{
    text-align: left;
    font-weight: 500;
}


button#btnFiltrar{
    position: relative;
    display: inline-flex;
    border-radius: 6px;
    text-align: center;
    font-size: 16px;
    width: auto;
    height: 35px;
    color:white;
    background-color:#5692a6 ;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    letter-spacing: 1px;
    text-decoration: none;
    transition: all ease 0.5s;
    border: none;
    margin-top: 35px;
    margin-bottom: 0px;
    padding-top: 6px;
    align-items: center;
}

button#btnFiltrar:hover{
    background-color: black;
    color: white;;
}


