
/*paleta de colores: broken dreamcicle  url: https://www.color-hex.com/color-palettes/?keyword=broken+dreamcicle*/

.navbar {
    background: #000000
}

.nav-item::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background: #ffcccc;
    transition: 0.4s
}

.nav-item:hover::after {
    width: 100%
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #ffcccc
}

.nav-link {
    padding: 25px 5px;
    transition: 0.2s
}

body {
    background-color: white;
}

#formulario {
    text-align: rigth;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 50px;
    border: 1px solid black;
    border-radius: 0.5%;
    max-width: 60%;
    max-block-size: 1000px;
    background-color: #eee;
    ;
}


#boton {
    position: relative;
    display: block;
    border-radius: 6px;
    text-align: center;
    font-size: 16px;
    width: 100px;
    height: 40px;
    color: white;
    cursor: pointer;
    letter-spacing: 2px;
    text-decoration: none;
    transition: all ease 0.5s;
    background: black;
    border: none;
    margin-top: 15px;
    margin-bottom: 15px;
}


#boton:after,
#boton:before {
    width: 150px;
    height: 50px;
    content: rgb(14, 12, 12);
    display: block;
    cursor: pointer;
}

#boton:hover {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    background: #5692a6;

    width: 150px;
}

#boton:hover:after,
#boton:hover:before {
    transform: rotate(45deg), scaleX(130%);
    transition: all ease 0.5s;
    width: 150px;
}



a.botonPubli{
    position: relative;
    display: inline-block;
    border-radius: 6px;
    text-align: center;
    font-size: 14px;
    width: 88px;
    height: 30px;
    color: white;
    cursor: pointer;
    letter-spacing: 1px;
    text-decoration: none;
    transition: all ease 0.5s;
    background: #5692a6;
    border: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 3px;
}

a.botonPubli:hover{
    background-color: #000000;
}


button.botonFiltro{
    position: relative;
    display: inline-block;
    border-radius: 6px;
    text-align: center;
    font-size: 14px;
    font-weight: 900;
    width: 150px;
    height: 40px;
    color: black;
    cursor: pointer;
    letter-spacing: 1px;
    text-decoration: none;
    transition: all ease 0.5s;
    background: #fed7a9;
    border: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px; 
    
}


button.botonFiltro:hover{
    background-color: rgba(0, 0, 0, 0.12);
    color: black;
}

ul.navega li {
    display: inline;
    padding-right: 0.30em;
    margin-top: 25px;
}

.boxPublicar{
    height: 400px;
    width: 100%;
}

navbar-nav mx-auto#cabecera {
    background-color: #fed7a9;
    height: 200px;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 0px ;
    margin-bottom: 10px
}

h1#textCabecera {
    font-family: fantasy;
    font-size: 40px;
    color: black;
}


#textCabecera {
    font-family: fantasy;
    font-size: 50px;
    color: black;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}


#titleFooter {
    font-size: 22PX;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 4px;
    font-weight: 300;
    margin-bottom: 0PX;
    margin-top: 5PX 
}

#footer {
    background-color: #fed7a9;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: auto;
    height: 100%;
    margin-top: 60px;
    margin-bottom: 0px;
    font: bold 17px sans-serif;
    font-size: 17px;
    padding-bottom: 50px;
    color: black;
    display: flexbox
}


@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: Open Sans;
}

section {
  width: 100%;
  display: inline-block;
  margin-top: 50px;
  background: #fed7a9;
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: none;
  align-items: center;
  place-items: center;
}

.footer-distributed{
	background: #fed7a9;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  black;
	font: normal 36px fantasy;
	margin: 0;
}

.footer-distributed h3 span{
	color:  black   ;
    font: normal 36px fantasy;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  black;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  black;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color:black;
	font-size: 28px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 16px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: black;
    font-weight:50;
    font-size: 16px;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:16px;
	line-height:2;
    
}

.footer-distributed .footer-center p a{
	color:  #5692a6;
	text-decoration: none;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 10px;
  left: 0;
  color: black;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #000000;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
    padding-bottom: 4px
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  black;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 5px;
}



@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

#mascotaFoto{
    height: 80%;
    width: 80%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-top: PX;
    background-color: #dddd
}

table.infoMascotas{
    border-radius: 2px;
    border-color: navajowhite;
    align-content: center;
}

#inforegistro{
    text-decoration: none;
    text-decoration-color: #33383b;
}

section#sectionCrearP{
    font-weight: 10px;
    font-size: 16px;
    text-align: left;
    
}

button.boton-enviar{
    position: relative;
    display: inline-block;
    border-radius: 6px;
    text-align: center;
    font-size: 16px;
    width: 95px;
    height: 45px;
    color: black;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    letter-spacing: 1px;
    text-decoration: none;
    transition: all ease 0.5s;
    background: #a9fed7;
    border: none;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-top: 3px;
}

button.boton-enviar:hover{
    background-color: black;
    color: white;;
}


section#sectionRegistrarU{
    font-weight: 100;
    font-size: 16px;
    text-align: left;
}

button.boton-enviarU#btnenviar{
    margin-top: 50px;
    margin-bottom: 10px;;
}
